# Positive Prompts (Ignore These)
/plugins/*
/upgrade
/uploads
/languages
**/node_modules
**/build

# Negative Prompts (Dont Ignore These)
!/plugins/our-first-plugin
!/plugins/our-word-filter-plugin
!/plugins/are-you-paying-attention
!/plugins/featured-professor
!/plugins/new-database-table